@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Films qui vous restent à voir</h1>



<form asp-controller="A_Voir" asp-action="Index" method="get">
    <p>

        Filtrer par phases <select asp-for="MoviePhase" asp-items="Model.Phases">
            <option value = "">All</option>
            </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Movies[0].Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Datedesortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Phase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {@if(item.Vu ==0){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datedesortie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phase)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ajouter à votre avancée</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }}
    </tbody>
</table>